.hero-banner {
    /* background: url()no-repeat center; */
    background: url(../../../images/hero-banner.png), lightgray 50% / cover no-repeat;
    position: relative;
    /* background-color: black; */
    width: 1903px !important;
    height: 1000px;
    flex-shrink: 0;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-right {
    background-image: url(/src/images/heroMaskImage.png);
    position: absolute;
    margin-left: 722px;
    margin-right: 52px;
}

.heroHeading {
    color: #FFF;
    font-family: "ethnocentric-regular";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.6px;
    text-transform: uppercase;
    /* width: 867px;  */
    margin-left: 369px;
    margin-top: 91px;
}

.heroHeading span {
    color: #FFF;
    text-shadow: 0px 0px 20px #E79FFF;
    font-family: "ethnocentric-regular";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.6px;
    text-transform: uppercase;
}

.heroPara {
    width: 578px;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    margin-left: 369px;
    margin-top: 22px;
}

.heroIconImage1 {
    margin-left: 369px;
    margin-top: 24px;
}

.timerPosition {
    margin-left: 369px;
    margin-top: 41px;
}

.heroIconPara {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 25px;
    margin-left: 24px;
}

.heroBtn1 {
    width: 241px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    margin-left: 369px;
    margin-top: 34px;
}

.heroBtn2 {
    color: white;
    width: 187px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 50px;
    background: linear-gradient(87deg, #8D36DF 23.55%, #580A90 93.67%);
    box-shadow: 0px 15px 22px 0px rgba(0, 0, 0, 0.25);
    margin-left: 25px;
}

.heroBtn3 {
    width: 1170px;
    height: 125px;
    border-radius: 200px;
    background: #FFF;
    margin-left: 369px;
    margin-top: 59px;
    margin-right: 364px;
    margin-bottom: 10px;
}

.heroBtn3Content {
    color: #000014;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-left: 35px;
    margin-top: 49px;
    margin-right: 35px;
}

.heroBtn3Btn {
    color: white;
    width: 229px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 50px;
    background: linear-gradient(85deg, #CB00FF 11.58%, #5603B4 90.82%);
    margin-right: 33px;
}

.image-container {
    display: inline-block;
    background-color: #000014;
    height: 144px;
}

.overlay-images {
    padding-top: 43px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 107px;
}

.overlay-images img {
    margin: 0 10px;
}


/* @media (max-width: 1540px) {
    .heroHeading {
        font-size: 50px;
    }

    .heroPara {
        font-size: 18px;
    }

    .heroIconImage1 {
        margin-left: 336px;
        margin-top: 10px;
    }

    .timerPosition {
        margin-left: 336px;
        margin-top: 10px;
    }

    .heroBtn1 {
        width: 200px;
        margin-left: 336px;
    }

    .heroBtn2 {
        width: 150px;
    }

    .heroBtn3 {
        margin-left: 336px;
    }
} */